/.bundle/
/.DS_store
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/graph.*
/pkg/
/spec/examples.txt
/spec/reports/
/spec/fixtures/app/node_modules/
/spec/fixtures/app/node_manifest/node_modules/
/spec/fixtures/app/components/*/node_modules/
/tmp/
.vscode
.bundle
